= image_tag(@therapy.image_url, width: 500)
%p= @therapy.name
%p= @therapy.description

/ - @therapy.sessions.each do |session|
/   .div{id: session.id}
/     .row
/       = form_tag(shopping_cart_path, method: :patch) do
/         = hidden_field_tag("session_id", session.id)
/         .col-md-2
/           h4= session.start_time.to_date.to_s(:long)
/         .col-md-1
/           .form-group
/             = select_tag("appointment_count",
/                 options_for_select((1..10).to_a), class: "form-control")
/         .col-md-3
/           .form-group
/             = submit_tag("Add to Cart",
/                 class: "btn btn-primary", id: "add-to-cart")


= link_to 'See More Therapies', therapies_path